*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background: #111;
}

/*Seccion de Navegacion*/
.header{
    width: 100%;
    height: 80px;
    background: #111;
   /* opacity: .7;  ay que checar*/
    position: fixed;
    border-bottom: 5px solid blue;
    z-index: 1;
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
nav img{
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
nav .logo
{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 700;
    flex: 1;
    margin-left: 20px;
    padding-top: 10px;
}
nav .logo span{
    color: blue;
}
nav ul{
    position: relative;
    display: flex;
    padding-top: 20px;
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position: relative;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    
}
nav ul li.active,
nav ul li a:hover
{
    background: blue;
}
.toggle{
    display: none;
}

/*Seccion de Home*/


.home-sec
{
    width: 100%;
    height: 657px;
    background: url("../img/fondo.jpg")no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.home-sec h1
{
    position: absolute;
    
    transform: translate(0%, -50%);
    font-size: 8em;
    margin-top: 180px;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
}
.home-sec h1:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke:2px #03a9f4;
}
.home-sec h1:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0% 53%, 14% 65%, 29% 70%, 44% 61%, 58% 53%, 81% 53%, 100% 62%, 100% 100%, 1% 100%);
    }
    50%
    {
        clip-path: polygon(1% 79%, 20% 75%, 33% 69%, 45% 59%, 66% 56%, 85% 57%, 100% 69%, 100% 100%, 1% 100%);   
    } 
}
.home-sec .person
{
    background: #111;
    text-align: center;
    margin-top: 350px;
    width: 350px;
    height: 150px;
    opacity: .9;
   
    border: 2px solid #fff;
    
}
.home-sec .person h2
{
    padding-top: 40px;
    color: #fff;
}
.home-sec .person p
{
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
}

/*About*/
.container
{
    width: 90%;
    margin: auto;
}

.about-sec
{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.about-sec .contentBx 
{
    background: #162c3b;
    padding-top: 100px;
    width: 50%;
}
.about-sec .contentBx .titleAb
{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}
.about-sec .contentBx .text span{
    color: #ff8000;
}
.about-sec .contentBx .titleAs
{
    color: #ccc;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}

.about-sec .contentBx .text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px;
}
.about-sec .imgBx
{
    background: url("../img/Puertas-abiertas.jpg");
    width: 50%;
    background-size: cover;
    background-position: center;
}

/*Services*/
.services-sec
{
    background: #12222d;
    min-height: 100vh;
    padding: 100px;
}
  .servititle
  {
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: 2rem;
    padding-bottom: 20px;
  }
 
.services-sec ul{
    text-align: center;
}
.services-sec ul li
{
    list-style: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}
.services-sec .contentS
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services-sec .contentS .serviceBx
{
    position: relative;
    background: #fff;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-sec .contentS .serviceBx img
{
    max-width: 100px;
}
 .servitxt
 {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    
 }

/*Proyect Section*/
.proyect-sec
{
    background-color: #000000;
    /* Pattern from https://www.heropatterns.com/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    padding: 100px;
}
.proyect-sec .proytxt
{
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}
.proyect-sec .proyect
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 70px;
}
.proyect-sec img
{
    width: 100%;
    height: 180px;
}
.proyect-sec h3
{
    font-size: 20px;
    margin: 10px 0;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}
.proyect-sec p{
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 1px;
    color: #fff;
}

/* Skills Section*/
.skills-sec
{
    min-height: 100vh; 
    background: #fff;
    padding: 100px;
}
.skills-sec h2
{
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px;
    padding-bottom: 20px;
}
.skills-sec p
{
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 10px;
}
.skill
{
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
}
.contentSki
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillsCon
{
    
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
   
}

 
.skill-name
{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar
{
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
}
.skill-pro
{
    height: 20px;
    background: #0fbef9;
    border-radius: 8px;
    width: 0;
    transition: 3s linear;
    position: relative;
}
.skill-pro:before
{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
 .skill-pro:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #000;
    top: -16px;
    right: 0;
    transform: translate(50%) rotate(45deg);
    border-radius: 2px;
}

/*follow me*/
.socila
{
    margin: 50px;
    
}
.social p
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 50px;
    color: #fff;
}
.links
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a
{
    margin: 0 30px;
}
.links a:hover
{
    background: #fff;
}
.links a i
{
    font-size: 3rem;
    
}


/*Footer*/
footer
{
    margin-top: 50px;
}
footer .content
{
    background: #2f3640;
    
    font-size: 12px;
    padding: 35px 0;
}
.footer-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container .footer-col
{
    margin: 0 auto;
}

.footer-col h3
{
    font-size: 20px;
    color: #fff;
    font-family: cursive;
    margin-left: 40px;
}
.footer-col p
{
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}
.copyright
{
    background: #2f3640;
    color: #fff;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}

.footer-container a
{
  display: inline-block;
  text-decoration: none;
}
.copyright a
{
    display: inline-block;
    text-decoration: none;
}
.foots
{
    color:  #fff;
}
.foots:hover
{
    color: #ff8000;;
}

/*Responsive*/
@media (max-width: 940px)
{
    
    
    header nav ul
    {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh -80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: black;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
        border-bottom: 5px solid blue;
    }

    header.active ul
    {
        opacity: 1;
        top: 80px;
        transform: translateY(0);
    }

    header ul li a
    {
        margin: 5px 0;
        font-size: 24px;
    }
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before
    {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: blue;
        z-index: 1;
        box-shadow: 0 10px 0 blue;
        transition: 0.5s;
    }
    .toggle:after
    {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: blue;
        z-index: 1;
        transition: 0.5s;
    }

    header.active .toggle:before
    {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 blue;
    }
    header.active .toggle:after
    {
        bottom: 14px;
        transform: rotate(-45deg);
    }

    .container
    {
        width: 100%;
    }
    /*About*/
    .about-sec
    {
        
        flex-direction: column;
    }
    .titleAb
    {
        padding-top: 40px;
    }
    .about-sec .contentBx,
    .about-sec .imgBx
    {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    /*Services*/
.services-sec
    {
       
       padding-top: 90px;
    }
    .services-sec .contentS
    {
        justify-content: center;
        margin-top: 20px;
    }
    .services-sec .contentS .serviceBx
    {
        margin: 20px;
        width: 300px;
        height: 350px;
    }
    .proyect-sec .proyect
    {
        grid-template-columns: 1fr;
    }

}